{% extends "base.html" %}
{% load static %}

{% block body %}
<body>
    <div id = "header">
        <div class="flexrow-container">
            <div class="standard-theme theme-selector"></div>
            <div class="light-theme theme-selector"></div>
            <div class="darker-theme theme-selector"></div>
        </div>
        <h1 id="title">Just do it.<div id="border"></div></h1>
    </div>

  <div id="form">
        <form method="post" action="{% url "todo:add_task_detail" %}">
            {% csrf_token %}
            <input class="todo-input" type="text" placeholder="Add a task." name="task_detail_text">
            <button class="todo-btn" type="submit">I Got This!</button>
        </form>
    </div>

    <!-- div for top left corner -->
       
    <div>
        <p><span id="datetime"></span></p>
        <script src="{% static 'JS/time.js' %}"></script>
    </div>

  <div id="myUnOrdList">
        <ul class="todo-list">
            {% for task in task_detail %}
                {% csrf_token %}      
                <div class="todo">
                    
                    <li>{{task.text}}</li>
                    <a href=""><button class="check-btn standard-button" ><i class="fas fa-check" ></i></button></a>
                    <a href="delete_task_detail/{{task.id}}"><button class="delete-btn standard-button"  ><i class="fas fa-trash"></i></button></a>
                    <input type="text" name="task_detail_id" value="{{task.id}}" hidden>
                    
                </div>
        {% endfor %}
          
        </ul>
    </div>
    
{% endblock body %}

