{% extends "base.html" %}
{% load static %}

{% block body %}
<body>
    <div id = "header">
        <div class="flexrow-container">
            <div class="standard-theme theme-selector"></div>
            <div class="light-theme theme-selector"></div>
            <div class="darker-theme theme-selector"></div>
        </div>
        <h1 id="title">Just do it.<div id="border"></div></h1>
    </div>

  <div id="form">
        <form>
            <input class="todo-input" type="text" placeholder="Add a task.">
            <button class="todo-btn" type="submit">I Got This!</button>
        </form>
    </div>

    <!-- div for top left corner -->
       
    <div>
        <p><span id="datetime"></span></p>
        <script src="{% static 'JS/time.js' %}"></script>
    </div>

  <div id="myUnOrdList">
        <ul class="todo-list">
            
            <div class="todo">
                
                <li>items added to this list:</li>
                <button class="check-btn standard-button"><i class="fas fa-check"></i></button>
                <button class="delete-btn standard-button"><i class="fas fa-trash"></i></button>
            </div>
        </ul>
    </div>
    
{% endblock body %}

